3to2==1.1.1
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
Flask==1.0.2
google-api-core==1.2.1
google-auth==1.5.0
google-cloud-language==1.0.2
googleapis-common-protos==1.5.3
grpcio==1.13.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
nltk==3.3
protobuf==3.6.0
pyasn1==0.4.3
pyasn1-modules==0.2.2
Pyphen==0.9.4
pytz==2018.5
repoze.lru==0.7
requests==2.19.1
rsa==3.4.2
six==1.11.0
textblob==0.15.1
textstat==0.4.1
urllib3==1.23
Werkzeug==0.14.1
